$colorMain: #000000;
$colorSub:#b8c0ec;
$colorGray:#999;
$colorOrange:#ff7d00;
$colorGreen:#289a32;
$colorRed:#eb0828;
$colorBorderMain:#b8c0ec;
$colorGradient1:#6397f5;
$colorGradient2:#f67bbb;
$colorMainYellow:#f8cf2b;

$cdnImageLazy:'//ac-JoaBcRTt.clouddn.com/3a994354f637e827ae7e.png';
$cdnImageLazyLarge:'//ac-JoaBcRTt.clouddn.com/182b4902f18265f1f5ff.png';