<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body>

<% include ../partials/header-sub %>
<div><%= course.get('name') %></div>
<div><%= course.get('content') %></div>
<div>
    <% if (course.get('haveCount') < course.get('count')) { %>
    <a href="/course/user/<%= course.get('courseId')%>">立即报名</a>
    <% } else { %>
    报名已满
    <% } %>
</div>
<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>