.article-page {
  background-image:url('//lc-JoaBcRTt.cn-n1.lcfile.com/0360b8aeefb196dc3c79.jpg');
  background-repeat: repeat-y;
  background-size: contain;
  color: #5b4606;
  .crumb {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1200px;
    margin:auto;
    a {
      background: #000;
      display: inline-block;
      color: #a6936a;
      height:30px;
      line-height: 30px;
      padding:0 10px 0 10px;
      margin-bottom: 6px;
      font-size: 14px;
      margin-right:10px;
    }
  }

  .main-list {
    @extend %clearfix;
    position: relative;
    width:1200px;
    margin:auto;
    padding-bottom: 32px;
    div {
      float:none;
    }
    li {
      border:none;
      margin:0 0 20px 0;
      float:left;
      width: 25%;
      padding: 0 10px 0 10px;
      .content {
        padding: 10px;
        width: 100%;
        background: #efefef;
        .main-img {
        }
        .title {
          margin:10px 0 10px 0;
          height: 40px;
          line-height: 20px;
          overflow:hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          a {
            font-size: 15px;
            color: #333;
          }
        }
        .info {
          @extend %clearfix;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          color: #666;
          .left {
            float: left;
          }
          .right {
            float: right;
          }
        }
      }
    }

    .loading {
      display: block;
      position: absolute !important;
      bottom:0 !important;
      width: 100%;
    }

    #infscr-loading {
      position: absolute !important;
      bottom:0 !important;
      width: 100%;
    }

  }

  .detail-content {
    padding-top:100px;
    padding-bottom: 40px;
    width:800px;
    margin:auto;

    h1 {
      font-size: 20px;
      text-align: center;
      margin:0 0 10px 0;
      padding: 0;
    }

    .detail-crumb {
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      .r {
        font-size: 14px;
      }
    }

    .preview-content {
      font-size: 16px;
      line-height: 30px;
      section { padding: 0; margin: 0 0 20px 0; }
      section img { margin:0;}
      div { padding: 0 15px; margin-bottom: 20px;}
      ul {margin: 0 0 15px 0;padding: 0 0 0 20px;}
      li {
        list-style: disc;
      }
      img { width: 100%; margin-bottom: 20px; }
      p { margin: 0 0 15px 0; padding: 0;}
    }

  }

}
