.home-page {
  max-width: 100%;
  .home {
    height: 100%;
    background:url('http://ac-quipuwpj.clouddn.com/d0d5fe85f49935c3af15.jpg') no-repeat;
    background-size:cover;
    position: relative;
    text-align: center;
  }

  .home h1 {
    width: 550px;
    height: 318px;
    position: absolute;
    background: url('http://ac-quipuwpj.clouddn.com/2d55be42d8d4576f2759.png') no-repeat center;
    top:50px;
    left: 50px;
  }

  .home .arrow {
    display: block;
    position: absolute;
    left:50%;
    margin-left:-16px;
    bottom:40px;
    width:32px;
    height: 32px;
    background-image: url('http://ac-quipuwpj.clouddn.com/f78e56cb1155c8674b06.png');
    -webkit-animation: floor1 3s 1s infinite ease-in-out;
    -moz-animation: floor1 3s 1s infinite ease-in-out;
    -ms-animation: floor1 3s 1s infinite ease-in-out;
    animation: floor1 3s 1s infinite ease-in-out;
  }

  @-webkit-keyframes floor1 {
    from {
      -webkit-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -webkit-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -webkit-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @-moz-keyframes floor1 {
    from {
      -moz-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -moz-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -moz-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @-ms-keyframes floor1 {
    from {
      -ms-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -ms-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -ms-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes floor1 {
    from {
      transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  .menu {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
    height: 80px;
    line-height: 80px;
    top:0;
    left:0;
    background: #000;
    padding:0 10px;

  }

  .menu.active {
    position: fixed;
    top:0;
    left:0;
    right:0;
  }

  .menu .logo {
    display: block;
    float:left;
    text-indent: -9999px;
    background: url('//ac-quipuwpj.clouddn.com/d760034020c1d9d353ac.png') no-repeat;
    width:300px;
    height: 80px;
  }

  .menu ul {
    margin:0;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu li {
    display: inline-block;
  }

  .menu li a {
    display: block;
    padding:0 10px;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color: #a6936a;
  }

  .menu li a.active {
    text-decoration: none;
    color: #d2c098;
    font-weight: bold;
  }

  .menu li a:hover {
    text-decoration: none;
    color:#a6936a;
  }




  .main-content {
    padding-top:40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;

    img {
      width: 100%;
    }

  }



  .footer {
    text-align: center;
    padding:40px 0 40px 0;
    background: #000;
    color:#a6936a;
    .content {
      width: 1000px;
      margin:auto;
    }
    a {
      color: #a6936a;
      &:hover {
        color: #d2c098;
      }
    }

    .info {
      font-size: 12px;
      line-height: 20px;
      p {
        margin:0;
        padding: 0;
      }
    }

    .sp {
      padding: 0 5px  ;
    }

  }

}