.home-page {
  max-width: 100%;
  background: #f0e7d4;
  .content1 {
    height: 100%;
    background:url('//ac-quipuwpj.clouddn.com/d0d5fe85f49935c3af15.jpg') no-repeat;
    background-size:cover;
    position: relative;
    text-align: center;
  }

  .content1 h1 {
    width: 550px;
    height: 318px;
    position: absolute;
    background: url('//ac-quipuwpj.clouddn.com/0651108b1f7713af57da.png') no-repeat center;
    top:70px;
    left: 50px;
  }

  .content1 .arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    left:50%;
    margin-left:-16px;
    bottom:40px;
    width:32px;
    height: 32px;
    background-image: url('//ac-quipuwpj.clouddn.com/f78e56cb1155c8674b06.png');
    -webkit-animation: floor1 3s 1s infinite ease-in-out;
    -moz-animation: floor1 3s 1s infinite ease-in-out;
    -ms-animation: floor1 3s 1s infinite ease-in-out;
    animation: floor1 3s 1s infinite ease-in-out;
  }

  @-webkit-keyframes floor1 {
    from {
      -webkit-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -webkit-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -webkit-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @-moz-keyframes floor1 {
    from {
      -moz-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -moz-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -moz-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @-ms-keyframes floor1 {
    from {
      -ms-transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      -ms-transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      -ms-transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes floor1 {
    from {
      transform: translate(0px, 0px);
      opacity:1;
    }
    50% {
      transform: translate(0px, 20px);
      opacity:0.7;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  .menu {
    box-shadow: 0 4px 15px rgba(0,0,0,0.07);
    height: 80px;
    line-height: 80px;
    top:0;
    left:0;
    position:fixed;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding:0 10px;
    z-index: 1;
  }

  .menu.active {
    position: fixed;
    top:0;
    left:0;
    right:0;
  }

  .menu .logo {
    display: block;
    float:left;
    text-indent: -9999px;
    background: url('//ac-quipuwpj.clouddn.com/14c7791e449bfdecb647.png') no-repeat center;
    width:80px;
    height: 80px;
    background-size: 70%;
  }

  .menu ul {
    margin:0;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu li {
    float:left;
    &.right {
      float:right;
    }
  }

  .menu li a {
    display: block;
    padding:0 10px;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color: #a6936a;
  }

  .menu li a.active {
    text-decoration: none;
    color: #d2c098;
    font-weight: bold;
  }

  .menu li a:hover {
    text-decoration: none;
    color:#a6936a;
  }




  .main-content {
    padding-top:20px;
    text-align: center;
    font-size: 16px;

    img {
      width: 100%;
    }

  }



  .footer {
    margin-top:20px;
    text-align: center;
    padding:40px 0 40px 0;
    background: #000;
    color:#a6936a;
    .content {
      width: 1000px;
      margin:auto;
    }
    a {
      color: #a6936a;
      &:hover {
        color: #d2c098;
      }
    }

    .info {
      font-size: 12px;
      line-height: 20px;
      p {
        margin:0;
        padding: 0;
      }
    }

    .sp {
      padding: 0 5px  ;
    }

    ul {
      margin-bottom: 40px;
      li {
        float:left;
        width: 160px;
        color: #fff;
        font-size: 13px;
        &.contact {
          float:right;
          width: 200px;
          font-size: 12px;
          h4 {
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            font-weight: normal;
            text-align: left;
            margin:0;
            padding: 0;
            span {
              vertical-align: middle;
              display: inline-block;
              height: 32px;
              width: 32px;
              background-repeat: no-repeat;
              background-position: center;
              background-size:75%;
              &.icon-weixin {
                background-image: url('//ac-quipuwpj.clouddn.com/26ad2dcaf37046b8f609.png');
              }
              &.icon-qq {
                background-image: url('//ac-quipuwpj.clouddn.com/4928903ae90c92d595a3.png');
              }
              &.icon-business {
                background-image: url('//ac-quipuwpj.clouddn.com/6346f936f48326d94a83.png');
              }
            }
          }
        }
        a {
          color: #fff;
        }
        h3 {
          margin:0;
          padding: 0;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
        }
        p {
          margin:0 0 10px 0;
          padding: 0;
        }
        .img {
          width: 80px;
          height: 80px;
          margin:auto;
          background-size:100% 100%;
          background-repeat: no-repeat;
          a {
            display: block;
            width: 80px;
            height: 80px;
          }
        }
        &:nth-child(1) {
          .img {
            background-image: url('//ac-quipuwpj.clouddn.com/b06314dd957d6f737e8a.png');
          }
        }
        &:nth-child(2) {
          .img {
            background-image: url('//ac-quipuwpj.clouddn.com/b06314dd957d6f737e8a.png');
          }
        }
        &:nth-child(3) {
          .img {
            background-image: url('//ac-quipuwpj.clouddn.com/6166033ce6948c7b3e49.png');
          }
        }
        &:nth-child(4) {
          .img {
            background-image: url('//ac-quipuwpj.clouddn.com/b6ee8d9dfe95e932e52c.png');
          }
        }
      }
    }

  }

}