.user-page {
    .am-container {
        width: 90%;
    }
    .header-menu-user {
        display: block;
    }
}

.user-index-page {

    .am-container {
        padding-top: 20px;
    }
    
    .admin-list li a {
        padding-left: 0;
        
    }
    
}