/* login page */
.login-page {
    .am-form {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
        margin:auto;
    }
    .am-form-group {
        margin-bottom: 5px;
    }
    .get-smscode,.infos {
        position: absolute;
        right:0.5em;
        top: 50%;
        display: block;
        margin-top: -.5em;
        line-height: 1;
        z-index: 2;
        em {
            display: none;
            font-style: normal;
            b {
                font-weight: normal;
            }
        }
        &.on {
            a {
                display: none;
            }
            em {
                display: inline;
            }
        }
    }
    .am-btn {
        display: block;
        width:100%;
        color: #fff;
    }
    .message {
        color: #f40;
        height: 20px;
        line-height: 20px;
        margin-bottom:8px;
        .error {
            color: #f40;
            font-weight: normal;
        }
        &.t-r {
            margin-bottom: 15px;
        }
    }
    .wechat {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background: #2ed441;
        text-align: center;
        line-height: 36px;
        i {
            font-size: 20px;
            color: #fff;
        }
    }
    .line {
        border-top:1px solid #ccc;
        margin:40px auto 0 auto;
        width:90%;
        height: 30px;
        position: relative;
        span {
            display: block;
            width: 240px;
            height: 30px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #fff;
            position: absolute;
            top:-15px;
            left:50%;
            line-height: 30px;
            margin-left:-120px;
            font-size: 15px;
        }
    }
    
    .form-userinfo {
        .am-form-group {
            margin-bottom: 15px;
        }
    }
    
}

/* index page */
.index-page {
    
    /* 图片轮播css已完成 amazeui */
    .am-slider {
        box-shadow: none;
        overflow: hidden;
        .am-control-nav {
            bottom:0;
            vertical-align: middle;
            height: 30px;
            line-height: 30px;
            li {
                vertical-align: middle;
                a {
                    box-shadow: none;
                    background: #fff;
                    &.am-active {
                        background: $colorMain;
                    }
                }
            }
        }
    }
    
    .nav {
        li {
            width:25%;
            float: left;
            margin-bottom: 10px;
            a {
                font-size: 13px;
                display: block;
                text-align: center;
                img {
                    display: block;
                    margin:0 auto 5px auto;
                    width: 50%;
                }
            }
        }
    }
    
}

/* error page */
.error-page {
    .img {
        margin:20px auto;
        width: 40%;
        img {
            display: block;
            width: 100%;
            border-radius: 50%;
            background: #efefef;
        }
    }
    p {
        padding: 0 20px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
    }
    
}