header {
    background: #fff;
    height: 50px;
    position: relative;

    .menu {
        position: absolute;
        right: 5px;
        top: 5px;
        .am-dropdown-toggle {
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
        }

        ul.am-dropdown-content {
            left:auto;
            right:0;
            min-width: 100px;
            &:before {
                left:auto;
                right:10px;
            }
            &:after {
                left:auto;
                right:10px;
            }
        }

        ul.am-dropdown-content > li > a {
            padding: 0 0 0 5px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            color: #666;
        }
        
    }

    &.main {
        .logo {
            position: absolute;
            left: 10px;
            top: 10px;
            a {
                display: block;
                width: 80px;
                height: 30px;
                background: url("../images/default/logo.png") no-repeat;
                background-size: 80px 30px;
            }
        }
        .search-go {
            margin: 0 50px 0 100px;
            padding-top: 10px;
            .search-go-panel {
                display: block;
                background: #f0f0f0;
                height: 30px;
                width: 100%;
                border-radius: 4px;
                position: relative;
                span {
                    position: absolute;
                    height: 20px;
                    display: block;
                    line-height: 20px;
                    left: 5px;
                    top: 5px;
                    font-size: 12px;
                    color: #666;
                }
                i {
                    position: absolute;
                    height: 20px;
                    display: block;
                    line-height: 20px;
                    right: 5px;
                    top: 5px;
                    font-size: 14px;
                    color: #ddd;
                }
            }
        }
    }

    &.sub {
        background: $colorMain;
        .back {
            position: absolute;
            left: 5px;
            top: 5px;
            a {
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
            i {
                font-size: 24px;
                font-weight: normal;
                color: #fff;
            }
        }
        .title {
            color: #fff;
            font-size: 18px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 0 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: normal;
        }
        .menu {
            position: absolute;
            right: 5px;
            top: 5px;
            a {
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
            i {
                font-size: 24px;
                font-weight: normal;
                color: #fff;
            }
        }
    }

}

footer {
    padding: 15px 0;
    text-align: center;
    color: #bababa;
    p {
        strong {
            font-size: 12px;
            color: #999;
        }
        margin: 0;
        font-size: 11px;
    }
}

.am-form {
    .am-form-icon {
        i {
            color: $colorMain;
        }
    }
}

//搜索界面
#search-box {

    .am-offcanvas-bar {
        &:after {
            background: none;
        }
        width: auto;
        right: 0;
        background: #fff;
    }

    .search-title {
        position: relative;
        height: 40px;
        background: $colorMain;
    }

    .search-select {
        display: none;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        .am-btn {
            font-size: 14px;
            display: block;
            height: 40px;
            width: 80px;
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            color: #fff;
            outline: none;
            &:active {
                box-shadow: none;
            }
            &:hover {
                border: none;
            }
            em {
                font-style: normal;
            }
        }
        ul.am-dropdown-content {
            min-width: 120px;
            font-size: 12px;
            .am-active a {
                background: $colorMain !important;
            }
        }
    }

    .search-close {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        a {
            font-size: 14px;
            color: #fff;
            display: block;
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 80px;
        }
    }

    .search {
        //margin: 0 80px;
        margin:0 80px 0 10px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding-top: 7px;
        position: relative;
        
        .submit {
            position: absolute;
            margin:0;
            display: block;
            padding: 0;
            right:0;
            top:7px;
            width: 26px;
            height: 26px;
            border:none;
            outline: 0;
            background: none;
        }
    }

    .search-input {
        outline: 0;
        display: block;
        width: 100%;
        height: 26px;
        font-size: 12px;
        border: none;
        border-radius: 3px;
        color: #666;
        padding: 0 30px 0 5px;
    }

    .search-history,.search-hot {
        h3 {
            background: #f5f5f5;
            margin:0;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            font-size: 14px;
            font-weight: normal; 
        }
    }
    
    .search-history {
        li {
            border-bottom:1px solid #f5f5f5;
            a {
                display: block;
                height: 36px;
                line-height: 36px;
                padding-left: 10px;
                font-size: 14px;
            }
        }
        .clear-history {
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            color: #999;
        }
    }

    .search-hot {   
        h3 {
            margin-bottom: 10px;
        }
        div {
            padding-left: 10px;
            a {
                margin:0 10px 10px 0;
                display: inline-block;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                border:1px solid #ddd;
                border-radius:3px;
                font-size: 14px;
            }
        }
       
    }

    .twitter-typeahead {
        display: block !important;
        .tt-suggestion {
            padding: 0;
            margin:0 10px;
            font-size: 14px;
            border-bottom:1px solid #eee;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.tt-cursor {
                background: none;
                font-weight: bold;
            }
        }
        .tt-menu {
            left:-10px !important;
            border-radius: 0;
            border:none;
            margin: 7px 0 0 0;
            padding: 0 0 10px 0;
            a {
                display: block;
                height: 36px;
                line-height: 36px;
                
            }
        }
    }
    
}

.main-tab {
    .am-dropdown {
        display: block;
        .am-btn {
            background: none;
            border:none;
            display: block;
            color: #666;
        }
    }
}
