<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body class="admin-article-preview-page">

<% include ../partials/header %>

<div class="am-cf admin-main">

    <h1><%= article.get('name')%></h1>
    <div class="cont">
        <%- content %>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

</body>
</html>