<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="51wish.cn" />
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-cf admin-main">
    
    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin">首页</a></strong> / <a href="/admin">首页</a></div>
        </div>


        <div class="am-g am-container">
            <div class="am-u-lg-12">

                <div class="am-g earning-info">
                    <div class="am-u-lg-6 am-u-md-4 am-u-sm-12">本月支出：<span>0</span> | 收入：<span>0</span> | 盈收：<span class="am-badge am-badge-success am-text-default">0</span></div>
                    <div class="am-u-lg-6 am-u-md-4 am-u-sm-12 t-r">2018年支出：<span>56881</span> | 收入：<span>0</span> | 盈收：<span class="am-badge am-badge-success am-text-default">-56881</span></div>
                </div>

                <hr>

                <div id="chart-earning" style="height: 250px;"></div>

                <hr>

                <div class="am-g">

                    <div class="am-u-lg-6 am-u-md-4 am-u-sm-12">
                        <h4>
                            最近商品采购列表
                        </h4>
                        <table class="am-table">
                            <thead>
                            <tr>
                                <th>订单名称TEST</th>
                                <th width="150" class="t-c">物流方式</th>
                                <th width="150" class="t-c">创建时间</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><a href="/purchase/edit/1419">精油-MoonGoddessMagick#1323178424</a></td>
                                <td class="t-c">
                                    运淘

                                </td>
                                <td class="t-c">
                                    2018/6/21
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/purchase/edit/1418">wisdom 油  # 62974</a></td>
                                <td class="t-c">
                                    运淘








                                </td>
                                <td class="t-c">
                                    2018/6/20
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/purchase/edit/1417">权杖-MysticalMagicWands *20</a></td>
                                <td class="t-c">
                                    运淘








                                </td>
                                <td class="t-c">
                                    2018/6/20
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/purchase/edit/1416">wisdom 油  # 62967</a></td>
                                <td class="t-c">
                                    运淘








                                </td>
                                <td class="t-c">
                                    2018/6/20
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/purchase/edit/1415">wisdom 油  # 62968</a></td>
                                <td class="t-c">
                                    运淘








                                </td>
                                <td class="t-c">
                                    2018/6/20
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/purchase/edit/1414">wisdom 油  # 62969</a></td>
                                <td class="t-c">
                                    运淘








                                </td>
                                <td class="t-c">
                                    2018/6/20
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-lg-6 am-u-md-8 am-u-sm-12">
                        <h4>
                            最近发货订单列表
                        </h4>
                        <table class="am-table">
                            <thead>
                            <tr>
                                <th>收件人</th>
                                <th width="150" class="t-c">状态</th>
                                <th width="150" class="t-c">创建时间</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><a title="86-17776229886，广西壮族自治区 南宁市 良庆区 良庆镇 五象新区平乐大道28号(五象湖公园旁)合景天汇广场16栋1901房" href="/customer/edit/4805">谢芒果</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            <tr>
                                <td><a title="86-18719065448，广东省 深圳市 宝安区 福永街道 新和社區 旭竟昌工業園B5棟2樓(集運王中轉站) 吳 C33419" href="/customer/edit/4804">吳英翰_C33419</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            <tr>
                                <td><a title="15620511213，北京 北京市 通州区 台湖镇 中国北京市通州区兴光四街1号院A座2层206办公室" href="/customer/edit/4803">洪海翔</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            <tr>
                                <td><a title="15515392236，河南省 洛阳市 瀍河回族区 瀍河回族乡 夹马营路君河湾41号楼" href="/customer/edit/4742">张生</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            <tr>
                                <td><a title="15105223330，江苏省 徐州市 丰县 中阳里街道 向阳南路公仆三巷" href="/customer/edit/4802">姜苗</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            <tr>
                                <td><a title="18623556323，重庆 重庆市 北碚区 朝阳街道 文星湾新房子160号3-1" href="/customer/edit/1215">梁倩</a></td>
                                <td class="t-c">未发货</td>
                                <td class="t-c">2018/6/22</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <hr>

            </div>
        </div>

    </div>



    <!-- content end -->

</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script type="text/javascript" src="http://order-51wish.leanapp.cn/js/echarts.min.js"></script>
<script type="text/javascript">
    $(function () {

        var data = {
            expenses: [0,4882,2003,0,6896,0,6278,3887,200,0,850,471,763,1858,17932,0,7450,3411,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            income:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            earning:[0,-4882,-2003,0,-6896,0,-6278,-3887,-200,0,-850,-471,-763,-1858,-17932,0,-7450,-3411,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            date:["6/3","1/4","1/9","1/14","1/1","1/19","1/2","1/3","1/5","1/6","1/10","1/11","1/12","1/13","1/17","1/18","1/8","1/15","1/16","1/20","1/21","1/22","1/23","1/24","1/25","1/27","1/28","1/29","1/30","1/31","2/1","2/2","2/3","2/4","2/5","2/6","2/7","2/8","2/9","2/10","2/11","2/12","2/13","2/14","2/15","2/17","2/19","2/21","2/22","2/23","2/24","2/25","2/26","2/27","2/28","3/1","3/2","3/3","3/4","3/5","3/6","3/7","3/8","3/9","3/10","3/11","3/12","3/13","3/14","3/15","3/16","3/17","3/18","3/19","3/20","3/21","3/22","3/23","3/24","3/25","3/26","3/27","3/28","3/29","3/30","3/31","4/1","4/2","4/3","4/30","4/4","4/5","4/6","4/7","4/8","4/9","4/10","4/11","4/12","4/13","4/14","4/15","4/16","4/17","4/18","4/19","4/20","4/21","4/22","4/23","4/24","4/25","4/26","4/27","4/28","4/29","5/31","5/1","5/2","5/3","5/5","5/4","5/6","5/7","5/8","5/9","5/10","5/11","5/12","5/15","5/17","5/16","5/13","5/14","5/18","5/19","5/20","5/21","5/22","5/23","5/24","5/25","5/26","5/27","5/28","5/29","5/30","6/2","6/4","6/5","6/6","6/30","6/7","6/8","6/9","6/11","6/12","6/13","6/14","6/15","6/16","6/1","6/10","6/17","6/18","6/19","6/20","6/21","6/22"]
        };

        var chartEarning = echarts.init($('#chart-earning')[0]);
        chartEarning.setOption({
            title: {
                text:  `${new Date().getFullYear()}年收入明细`,
                textStyle:{
                    fontWeight:'normal',
                    fontSize:12
                }
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                selected:{
                    '支出金额':true,
                    '收入金额':true,
                    '盈利':false
                },
                data:['支出','收入','盈利'],
                right:'0%'
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '0%',
                right: '0%',
                bottom: '0%',
                top:'15%',
                containLabel: true
            },
            xAxis : [
                {
                    show:false,
                    type : 'category',
                    boundaryGap : false,
                    data :data.date
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'支出',
                    type:'line',
                    areaStyle: {normal: {}},
                    data:data.expenses,
                    itemStyle:{normal:{color: '#0e90d2'}}
                },
                {
                    name:'收入',
                    type:'line',
                    areaStyle: {normal: {}},
                    data:data.income,
                    itemStyle:{normal:{color: '#5eb95e'}}
                },
                {
                    name:'盈利',
                    type:'line',
                    areaStyle: {normal: {}},
                    data:data.earning,
                    itemStyle:{normal:{color: '#dd514c'}}
                }
            ]
        });

       
    });
</script>
</body>
</html>