<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="home-page">

<img src="http://ac-JoaBcRTt.clouddn.com/221c734acf2eb97b8dd9.png">
<h1>网站正在开发中,敬请期待!</h1>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>
</body>
</html>