<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="home-page">

<img src="http://ac-JoaBcRTt.clouddn.com/221c734acf2eb97b8dd9.png">
<h1>Website is currently under construction,Coming soon!</h1>

<footer>
    <p><strong>51WISH.CN</strong></p>
    <p>Copyright © 2016-2017 51wish.cn All Rights Reserved. </p>
    <p><a class="link" href="/index">首页</a></p>
</footer>

<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>
</body>
</html>