<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="home-page desktop-page">

<div data-target="content1" class="main-content content1">
    <h1></h1>
    <span class="arrow"></span>
</div>


<% include ../partials-desktop/menu %>

<div data-target="content2" class="main-content content2">
    <img src="http://ac-quipuwpj.clouddn.com/c7fd2054131d2d5b645c.jpg" alt="">
</div>

<div data-target="content3" class="main-content content3">
    <img src="http://ac-quipuwpj.clouddn.com/5402c0789aacb2dbe6a7.jpg" alt="">
</div>

<div data-target="content4" class="main-content content4">
    <img src="http://ac-quipuwpj.clouddn.com/f6f6a1287321aa847c64.jpg" alt="">
</div>

<div data-target="content5" class="main-content content5">
    <img src="http://ac-quipuwpj.clouddn.com/f9e106e61f93c510158f.jpg" alt="">
</div>

<% include ../partials-desktop/footer %>

<% include ../partials/js %>
<script>
    $(function() {
        var home = require('home');
        home.init();
    });
</script>
</body>
</html>