<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="home-page">

    <div data-target="content1" class="home">
        <h1></h1>
        <span class="arrow"></span>
    </div>

    <div class="menu clearfix">
        <ul>
            <li> <a class="active link" data-link="content1" href="javascript:;">Home</a> </li>
            <li> <a class="link" data-link="content2" href="javascript:;">About Us</a> </li>
            <li> <a class="link" data-link="content3" href="javascript:;">About Us</a> </li>
            <li> <a class="link" data-link="content4" href="javascript:;">About Us</a> </li>
            <li> <a class="link" data-link="content5" href="javascript:;">About Us</a> </li>
        </ul>
    </div>

    <div data-target="content2" class="main-content content2">
        <img src="http://ac-quipuwpj.clouddn.com/c7fd2054131d2d5b645c.jpg" alt="">
    </div>

    <div data-target="content3" class="main-content content3">
        <img src="http://ac-quipuwpj.clouddn.com/5402c0789aacb2dbe6a7.jpg" alt="">
    </div>

    <div data-target="content4" class="main-content content4">
        <img src="http://ac-quipuwpj.clouddn.com/f6f6a1287321aa847c64.jpg" alt="">
    </div>

    <div data-target="content5" class="main-content content5">
        <img src="http://ac-quipuwpj.clouddn.com/f9e106e61f93c510158f.jpg" alt="">
    </div>

    <div class="footer">
        <div class="content">
            <div class="info">
                <p>© <%=new Date().getFullYear()%> 51wish.cn 心愿之家</p>
                <p>上海巨壳网络科技有限公司 <span class="sp"></span> <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">沪ICP备16013026号</a> <span class="sp"></span>
                    <img src="//ac-quipuwpj.clouddn.com/e47fede241f86a022b02.png" width="20" height="20"> 沪公网安备</p>
            </div>
        </div>
    </div>

    <% include ../partials/js %>
    <script>
        $(function() {
            var home = require('home');
            home.init();
        });
    </script>

</body>
</html>