<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body>

<% include ../partials/header %>

<a href="/user/login">登录</a>
<br>
<a href="/user/login/logout">退出</a>




<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>