<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page user-cart-page">

<% include ../partials/header-sub %>



    <ul class="main-list">
    </ul>

<div class="cart-empty-info"></div>


<div class="am-container">

    <div class="clear-cart-button">
        <button type="button" id="clear-cart" class="am-btn am-btn-default">清空购物车</button>
    </div>

    <!--
    <ul class="info">
        <li><i class="am-icon-credit-card color-main"></i> 由于支付权限原因,目前我们仅支持下单后跳转到淘宝店铺进行支付,您可根据系统提示进行后续操作,感谢您的支持和理解!</li>
        <li><i class="am-icon-info-circle color-main"></i> 目前网站价格仅为参考价格,最终价格请结合淘宝店铺零售价为准.</li>
        <li><i class="am-icon-info-circle color-main"></i> 如发生产品对应链接错误,您可以直接在淘宝店铺中搜索该产品名称即可找到对应产品.</li>
    </ul>
    -->
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-clear-cart">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要清除购物足迹么？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="modal-buy">
    <div class="am-modal-dialog">
        <div class="am-modal-hd color-main success">生成口令成功!</div>
        <div class="am-modal-bd success">
            请直接打开淘宝APP客户端,或<a href="javascript:;" class="open-tb-link" target="_blank">点此使用浏览器打开</a>即可添加淘宝购物车并直接购买哦!
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<% include ../partials/js %>

<script>
    $(function() {
        var cart = require('cart');
        cart.init();
    });
</script>
</body>
</html>