<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page user-index-page">

<% include ../partials/header-sub %>

<div class="am-container">
    <% for(var i=0; i<items.length; i++) { %>
        <%= items[i].get('productId') %>
        <%= items[i].get('name')%>
        <%= items[i].get('count') %>
    <% } %>
</div>

<% include ../partials/js %>

</body>
</html>