<form action="/shopping-cart/add" method="post">
    商品id<input type="text" name="pid" />
    数量<input type="text" name="count" />
    <button style="width: 60px; height: 30px" type="submit"> 提交</button>
</form>