<div id="search-box" class="am-offcanvas">
    <div class="am-offcanvas-bar">

        <div class="search-title">

            <div class="search-select am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><em>产品专区</em> <span
                        class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li class="am-active"><a href="javascript:;">产品专区</a></li>
                    <li><a href="javascript:;">别具一格</a></li>
                </ul>
            </div>

            <div class="search">
                <form action="/search" method="get">
                    <input type="text" id="search-input" name="keywords" class="search-input" placeholder="搜索产品">
                    <button class="submit" type="submit"><i class="am-icon-search"></i>
                    </button>
                </form>
            </div>

            <div class="search-close">
                <a href="javascript:;">取消</a>
            </div>

        </div>

        <div class="search-history">
            <h3>我的搜索历史</h3>
            <ul>
                <li><a href="/search?keywords=金钱">金钱</a></li>
                <li><a href="/search?keywords=爱情">爱情</a></li>
                <li><a href="/search?keywords=招财桃花">招财桃花</a></li>
                <li><a href="/search?keywords=学习好运">学习好运</a></li>
            </ul>
            <a class="clear-history" href="javascript:;">清空历史记录</a>
        </div>

        <div class="search-hot">
            <h3>大家都在搜</h3>
            <div>
                <a href="#">金钱</a>
                <a href="#">金钱金钱</a>
                <a href="#">金钱魔法</a>
                <a href="#">招财爱情仪式</a>
                <a href="#">金钱</a>
                <a href="#">金钱金钱</a>
                <a href="#">金钱魔法</a>
                <a href="#">招财爱情仪式</a>
                <a href="#">金钱</a>
                <a href="#">金钱金钱</a>
                <a href="#">金钱魔法</a>
                <a href="#">招财爱情仪式</a>
            </div>
        </div>

    </div>
</div>

<footer>
    <p><strong>心愿之家 51WISH</strong></p>
    <p>Copyright © 2016-2017 51wish.cn 版权所有</p>
</footer>