<header class="sub">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i><</i>
        </a>
    </div>
    <div class="menu">
        <a href="/"><i></i></a>
    </div>
    <h1 class="title"><%=headerTitle%></h1>
</header>