<header class="sub">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
    <div class="menu">
        <a href="javascript:;" class="search-go-panel"><i class="am-icon-search"></i></a>
        <!--
        <div class="am-dropdown" data-am-dropdown>
            <a class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>
                <i class="am-icon-ellipsis-v"></i>
            </a>
            <ul class="am-dropdown-content">
                <li><a href="#">首页</a></li>
                <li><a href="#">我的账户</a></li>
                <li><a href="#">退出登录</a></li>
            </ul>
        </div>
        -->
    </div>
    <h1 class="title"><%=headerTitle%></h1>
</header>