<header class="main">
    
    <div class="logo">
        <a href="/"></a>
    </div>
    <div class="menu">
        <a href="/user/login"><i class="am-icon-ellipsis-h"></i></a>
    </div>
    <div class="search">
        <a class="panel-search" href="javascript:;">
            <span>搜索产品/标签/列表</span>
            <i class="am-icon-search"></i>
        </a>
    </div>

</header>