<header class="sub">
    
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <div class="menu">
        <a href="/"><i class="am-icon-bars"></i></a>
    </div>
    <h1 class="title">
        用户登录/注册
    </h1>

</header>