<header class="main">
    <div class="logo">
        <a href="/"></a>
    </div>
    <div class="search-go">
        <a class="search-go-panel">
            <span>搜索产品/文章/分类</span>
            <i class="am-icon-search"></i>
        </a>
    </div>
    <div class="menu am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" href="javascript:;"><i class="am-icon-ellipsis-h"></i></a>
        <ul class="am-dropdown-content">
            <li><a href="/user/userinfo">我的账户</a></li>
            <li><a href="/user/login/logout">退出</a></li>
        </ul>
    </div>
</header>