<div class="footer">
    <div class="content">
        <ul class="cf">
            <li>
                <h3>淘宝主店店铺</h3>
                <p><a href="http://muxue698.taobao.com" target="_blank">[暮雪的心愿城]</a></p>
                <div class="img">
                    <a href="http://muxue698.taobao.com" target="_blank"></a>
                </div>
            </li>
            <li>
                <h3>淘宝精品店店铺</h3>
                <p><a href="http://muxue928.taobao.com" target="_blank">[亚特兰蒂斯之谜]</a></p>
                <div class="img">
                    <a href="http://muxue928.taobao.com" target="_blank"></a>
                </div>
            </li>
            <li>
                <h3>微信公众号</h3>
                <p>[暮雪的心愿城]</p>
                <div class="img">
                </div>
            </li>
            <li>
                <h3>新浪微博</h3>
                <p>[暮雪的心愿城-wish698]</p>
                <div class="img">
                    <a href="//weibo.com/u/6093438599" target="_blank"></a>
                </div>
            </li>
            <li class="contact">
                <h3>联系我们/客服咨询</h3>
                <h4><span class="icon-weixin"></span> 微信号: muxue698_zimu</h4>
                <!--
                <h4><span class="icon-qq"></span> QQ: <a
                            href="http://wpa.qq.com/msgrd?&uin=3440559032&site=qq&menu=yes">3440559032</a></h4> -->
                <h4><span class="icon-business"></span>商务合作: <a href="mailto:53497490@qq.com">53497490@qq.com</a></h4>
            </li>
        </ul>
        <div class="info">
            <p>© <%=new Date().getFullYear()%> wish698.cn 暮雪的心愿城</p>
            <p>上海巨壳网络科技有限公司 <span class="sp"></span> <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">沪ICP备16013026号</a> <span class="sp"></span>
                <img src="//image.wish698.cn/e47fede241f86a022b02.png" width="20" height="20"> 沪公网安备</p>
        </div>
    </div>
</div>