<div class="menu clearfix">
    <ul>
        <li class="logo"><a href="/">暮雪的心愿城</a></li>
        <li> <a class="active link" data-link="content1" href="javascript:;">首页</a> </li>
        <li> <a class="link" data-link="content2" href="javascript:;">博客/文章asd</a> </li>
        <li> <a class="link" data-link="content3" href="javascript:;">About Us</a> </li>
        <li> <a class="link" data-link="content4" href="javascript:;">About Us</a> </li>
        <li> <a class="link" data-link="content5" href="javascript:;">About Us</a> </li>
        <li class="right"><a href="/user/login">注册/登录</a></li>
    </ul>
</div>