<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body>

<% include ../partials/header-sub %>
<ul>
    <% if(item) { %>
        <%= item.get('name') %>
    <%= item.get('content') %>
    } %>
</ul>
<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>