<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body>

<% include ../partials/header-sub %>
<ul>

<%= article.get('name')%>
    <%- article.get('content')%>
    <img src="<%= article.get('image') %>" />
</ul>
<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>