<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page article-list-page">

<% include ../partials/header-sub %>

<div class="main-article-menu am-g am-g-fixed">

</div>

123456


<% include ../partials/footer-article %>
<% include ../partials/js %>

<script>
    $(function() {

        var article = require('article');
        article.searchFun();

        var articleList = require('article-list');
        articleList.init();

    });
</script>
</body>
</html>