<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="blog-page desktop-page">

<% include ../partials-desktop/menu %>

<ul>
    <% if(article) { %>
    <% for(var i=0; i < article.length; i++) {%>
    <a href="/blog/<%= article[i].get('articleId') %>"><%= article[i].get('name') %></a>
    <% }
    } %>
</ul>

<% include ../partials-desktop/footer %>
<% include ../partials/js %>
</body>
</html>