<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
</a>

<footer class="footer">
    <p>© <%= new Date().getFullYear()%> <a href="http://wish698.cn" target="_blank">www.wish698.cn, Inc.</a></p>
</footer>