<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a <%if(currentPage === 'index'){ %>class="current"<%}%> href="/admin">首页</a></li>
          
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-product'}">主店产品列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'product' && productMethodId == '3'){ %>am-in<%}%>" id="collapse-product">
                    <li><a href="/admin/product?product-method-id=3" <%if(currentPage === 'product-index' && productMethodId == '3' && onsale == 0 && !isShortStock && !isUpdateStock && !updateStockDate && !adminStock && !hot && !isTranslation && !isSales){ %>class="current"<%}%> >所有产品列表</a></li>
                    <li><a href="/admin/product?onsale=1&product-method-id=3" <%if(currentPage === 'product-index' && productMethodId == '3' && onsale == 1){ %>class="current"<%}%> >上架产品列表</a></li>
                    <li><a href="/admin/product?onsale=2&product-method-id=3" <%if(currentPage === 'product-index' && productMethodId == '3' && onsale == 2){ %>class="current"<%}%> >下架产品列表</a></li>
                    <li><a href="/admin/product?is-short-stock=true&product-method-id=3" <%if(currentPage === 'product-index' && isShortStock && productMethodId == '3'){ %>class="current"<%}%> >缺货产品列表</a></li>
                    <li><a href="/admin/product?stock=0&product-method-id=3" <%if(currentPage === 'product-index' && adminStock && productMethodId == '3'){ %>class="current"<%}%>>零库存产品列表</a></li>
                    <li><a href="/admin/product?is-update-stock=true&product-method-id=3" <%if(currentPage === 'product-index' && isUpdateStock && productMethodId == '3'){ %>class="current"<%}%>>重新上架产品列表</a></li>
                    <li><a href="/admin/product?update-stock-date=0&product-method-id=3" <%if(currentPage === 'product-index' && updateStockDate=='0' && productMethodId == '3'){ %>class="current"<%}%>>库存提醒列表(无库存)</a></li>
                    <li><a href="/admin/product?update-stock-date=1&product-method-id=3" <%if(currentPage === 'product-index' && updateStockDate=='1' && productMethodId == '3'){ %>class="current"<%}%>>库存提醒列表(有库存)</a></li>
                    <li><a href="/admin/product?is-sales=1&product-method-id=3" <%if(currentPage === 'product-index' && isSales && productMethodId == '3'){ %>class="current"<%}%>>促销产品列表</a></li>
                    <li><a href="/admin/product?hot=1&product-method-id=3" <%if(currentPage === 'product-index' && hot && productMethodId == '3'){ %>class="current"<%}%>>热门产品列表</a></li>
                    <li><a href="/admin/product?is-translation=true&product-method-id=3" <%if(currentPage === 'product-index' && isTranslation && productMethodId == '3'){ %>class="current"<%}%>>产品翻译更新列表</a></li>

                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-custom-product'}">新店产品列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'product' && productMethodId == '21'){ %>am-in<%}%>" id="collapse-custom-product">
                    <li><a href="/admin/product?product-method-id=21" <%if(currentPage === 'product-index' && productMethodId == '21' && onsale == 0 && !isShortStock && !isUpdateStock && !updateStockDate && !adminStock && !hot && !isTranslation && !isSales){ %>class="current"<%}%> >所有产品列表</a></li>
                    <li><a href="/admin/product?onsale=1&product-method-id=21" <%if(currentPage === 'product-index' && productMethodId == '21' && onsale == 1){ %>class="current"<%}%> >上架产品列表</a></li>
                    <li><a href="/admin/product?onsale=2&product-method-id=21" <%if(currentPage === 'product-index' && productMethodId == '21' && onsale == 2){ %>class="current"<%}%> >下架产品列表</a></li>
                    <li><a href="/admin/product?is-short-stock=true&product-method-id=21" <%if(currentPage === 'product-index' && isShortStock && productMethodId == '21'){ %>class="current"<%}%> >缺货产品列表</a></li>
                    <li><a href="/admin/product?stock=0&product-method-id=21" <%if(currentPage === 'product-index' && adminStock && productMethodId == '21'){ %>class="current"<%}%>>零库存产品列表</a></li>
                    <li><a href="/admin/product?is-update-stock=true&product-method-id=21" <%if(currentPage === 'product-index' && isUpdateStock && productMethodId == '21'){ %>class="current"<%}%>>重新上架产品列表</a></li>
                    <li><a href="/admin/product?update-stock-date=0&product-method-id=21" <%if(currentPage === 'product-index' && updateStockDate=='0' && productMethodId == '21'){ %>class="current"<%}%>>库存提醒列表(无库存)</a></li>
                    <li><a href="/admin/product?update-stock-date=1&product-method-id=21" <%if(currentPage === 'product-index' && updateStockDate=='1' && productMethodId == '21'){ %>class="current"<%}%>>库存提醒列表(有库存)</a></li>
                    <li><a href="/admin/product?hot=1&product-method-id=21" <%if(currentPage === 'product-index' && hot && productMethodId == '21'){ %>class="current"<%}%>>热门产品列表</a></li>
                    <li><a href="/admin/product?is-translation=true&product-method-id=21" <%if(currentPage === 'product-index' && isTranslation && productMethodId == '21'){ %>class="current"<%}%>>产品翻译更新列表</a></li>
                    <li><a href="/admin/product?is-sales=1&product-method-id=3" <%if(currentPage === 'product-index' && isSales && productMethodId == '21'){ %>class="current"<%}%>>促销产品列表</a></li>

                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-product-settings'}">产品设置<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'product-settings'){ %>am-in<%}%>" id="collapse-product-settings">
                    <li><a href="/admin/product-category" <%if(currentPage === 'product-category'){ %>class="current"<%}%>>产品分类列表</a></li>
                    <li><a href="/admin/product-method" <%if(currentPage === 'product-method'){ %>class="current"<%}%>>产品类型列表</a></li>
                    <li><a href="/admin/product-brand" <%if(currentPage === 'product-brand'){ %>class="current"<%}%>>产品品牌列表</a></li>
                    <li><a href="/admin/product-tag" <%if(currentPage === 'product-tag'){ %>class="current"<%}%>>产品标签列表</a></li>
                    <li><a href="/admin/product-group" <%if(currentPage === 'product-group'){ %>class="current"<%}%>>产品组合类型列表</a></li>
                </ul>
            </li>
            
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-tools'}">工具/附件<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'tools'){ %>am-in<%}%>" id="collapse-tools">
                    <li><a href="/admin/product" <%if(currentPage === 'attachment-upload'){ %>class="current"<%}%> >附件上传</a></li>
                    <li><a href="/admin/filter-words" <%if(currentPage === 'filter-words'){ %>class="current"<%}%> >过滤词管理</a></li>
                    <li><a href="/admin/import-order" <%if(currentPage === 'import-order'){ %>class="current"<%}%> >在途订单批量导入</a></li>
                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-course'}">课程列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'course'){ %>am-in<%}%>" id="collapse-course">
                    <li><a href="/admin/course" <%if(currentPage === 'course'){ %>class="current"<%}%> >课程列表</a></li>
                    <li><a href="/admin/course-template" <%if(currentPage === 'course-template'){ %>class="current"<%}%> >课程模板列表</a></li>
                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-article'}">文章管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'article'){ %>am-in<%}%>" id="collapse-article">
                    <li><a href="/admin/article" <%if(currentPage === 'article'){ %>class="current"<%}%> >文章列表</a></li>
                    <li><a href="/admin/article-category" <%if(currentPage === 'article-category'){ %>class="current"<%}%> >文章分类列表</a></li>
                    <li><a href="/admin/article-tag" <%if(currentPage === 'article-tag'){ %>class="current"<%}%> >文章标签列表</a></li>
                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target:'#collapse-product-public'}">产品定制列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub <%if(currentTag === 'product-public'){ %>am-in<%}%>" id="collapse-product-public">
                    <li><a href="/admin/public" <%if(currentPage === 'product-public'){ %>class="current"<%}%> >产品定制列表</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>