<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page user-index-page">

<% include ../partials/header-sub %>

<div class="am-container">

    <p><i class="am-icon-check-circle color-main"></i> 您好,欢迎回来!</p>
    
    <ul class="am-list">
        
        <li  class="am-panel">
            <a href="/shopping-cart"><i class="icon icon-user-index-cart am-margin-left-sm"></i> 我的购物车 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/wish"><i class="icon icon-user-index-fav am-margin-left-sm"></i> 我的收藏夹 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/footmark"><i class="icon icon-user-index-view am-margin-left-sm"></i> 我的浏览足迹 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/userinfo"><i class="icon icon-user-index-account am-margin-left-sm"></i> 我的账户设置 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>
        
        <li  class="am-panel">
            <a href="/order/express"><i class="icon icon-user-index-track am-margin-left-sm"></i> 我的历史发货订单查询 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/logout"><i class="icon icon-user-index-logout am-margin-left-sm"></i> 退出登录</a>
        </li>
        
    </ul>

</div>

<% include ../partials/js %>

</body>
</html>