<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page user-index-page">

<% include ../partials/header-sub %>

<div class="am-container">

    <p class="color-gray"><i class="am-icon-check-circle color-main"></i> 您好,欢迎回来!</p>
    
    <ul class="am-list">
        
        <li  class="am-panel">
            <a href="/user/index"><i class="am-icon-shopping-cart am-margin-left-sm"></i> 我的购物车 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/wish"><i class="am-icon-folder-open am-margin-left-sm"></i> 我的收藏夹 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/footmark"><i class="am-icon-modx am-margin-left-sm"></i> 我的浏览足迹 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/userinfo"><i class="am-icon-user am-margin-left-sm"></i> 我的账户设置 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>
        
        <li  class="am-panel">
            <a href="/order/express"><i class="am-icon-clock-o am-margin-left-sm"></i> 我的历史发货订单查询 <i class="am-icon-angle-right am-fr am-margin-right"></i></a>
        </li>

        <li  class="am-panel">
            <a href="/user/logout"><i class="am-icon-sign-out am-margin-left-sm"></i> 退出登录</a>
        </li>
        
    </ul>

</div>

<% include ../partials/js %>

</body>
</html>