<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body>

<% include ../partials/header %>

<div class="color-form-group color-form-line">
    <span class="color-form-control-ico">
        <i class="am-icon-envelope"></i>
    </span>
    <input class="color-form-control color-form-control-ico-input-left" type="text">
    <label class="color-form-control-label">左边图标 输入框</label>
    <span class="color-form-control-help">这里是帮助文本...</span>
</div>

<form id="form-login" method="post" action="/login/getSmsCode" class="am-form">
      <label for="mobile">请输入手机号:</label>
      <input type="mobile" id="mobile" name="mobile" placeholder="请输入手机号">
      <br>
      <label for="smsCode">请输入验证码:</label>
      <input type="smsCode" id="smsCode" name="smsCode" placeholder="请输入验证码"><input type="button" value="发送短信验证码" />
      <hr/>
      <div class="am-cf">
        <input type="submit" id="submit" name="submit" value="登录" class="am-btn am-btn-primary">
      </div>
</form>
<a href="<%= wechatLoginUrl; %>">微信登陆</a>

<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>