<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="login-page">

<% include ../partials/header-sub %>


<div class="am-container">
    
        <form id="form-login" method="post" action="/login/getSmsCode" class="am-form">

            <div class="am-form-group am-form-icon">
                <i class="am-icon-mobile"></i>
                <input id="mobile" name="mobile" type="text" class="am-form-field" placeholder="请输入您的手机号">
                <a href="javascript:;" class="get-smscode">获取验证码</a>
            </div>

            <div class="am-form-group am-form-icon">
                <i class="am-icon-lock"></i>
                <input type="text" id="smsCode" name="smsCode" class="am-form-field" placeholder="请输入您的手机验证码">
            </div>
            
            <button type="submit" class="am-btn am-btn-default">下一步</button>
            
            <div class="line"><span>微信登录</span></div>
            
            <div class="t-c">
                <a href="<%= wechatLoginUrl%>" class="wechat"><i class="am-icon-weixin"></i></a>
            </div>
            
        </form>
    
</div>




<% include ../partials/js %>
<script>
    $(function() {
        var user = require('user');
        user.loginFun();
    });
</script>

</body>
</html>