<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="login-page">

<% include ../partials/header-sub %>

<div class="am-container">
    
        <form id="form" method="post" class="am-form form-mobile">

            <p class="color-gray"><i class="am-icon-info-circle color-main"></i> 完善您的手机号可便于接收,查询或跟踪您的物流包裹信息, 以及其他相关通知(心愿之家会严格保守您的手机信息,请放心绑定哦)</p>

            <div class="am-form-group am-form-icon">
                <i class="am-icon-mobile"></i>
                <input id="mobile" name="mobile" maxlength="11" type="text" class="am-form-field" placeholder="请输入您的手机号">
                <span class="get-smscode">
                    <a href="javascript:;">获取验证码</a>
                    <em><b></b>秒后可重试</em>
                </span>
            </div>

            <div class="message error-mobile"></div>

            <div class="am-form-group am-form-icon">
                <i class="am-icon-lock"></i>
                <input type="text" id="code" maxlength="6" name="code" autocomplete="off" class="am-form-field" placeholder="请输入您的手机验证码">
            </div>

            <div class="message error-code"></div>

            <p><button id="submit" type="submit" disabled="disabled" class="am-btn am-btn-primary">更新/绑定手机号</button></p>
            <input type="hidden" name="member-id" id="member-id" value="<%= memberId %>" />
        </form>
    
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <i class="am-icon-btn am-success am-icon-check"></i> 绑定成功!正在跳转...
        </div>
    </div>
</div>

<% include ../partials/js %>
<script>
    $(function() {
        var user = require('user');
        user.mobileFun();
    });
</script>

</body>
</html>