/* admin product page */
.admin-product-page {
    .main-image-list {
        margin:0;
        padding: 0;
        li {
            margin-top: 15px;
            display: inline-block;
            margin-right: 10px;
            img {
                border:1px solid #ddd;
                width: 80px;
                height: 80px;
            }
        }
    }
}


/* admin product category page */
.admin-product-category-page {
    .am-accordion {
        margin:0 0 30px 0;
    }
}