<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="51wish.cn" />
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-import-order-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin">首页</a></strong> / <a href="/admin/import-order">在途订单批量导入</a>
            </div>
        </div>

        <div class="am-g">
            <div class="am-cf am-padding">
                <h3>导入wisdomproduct.com:</h3>
                <div class="am-form-group">
                    <textarea class="input-wisdom-order" rows="10">

INDIO OIL LOVE ME	 	 $0.95 	 1	 $11.40
 INDIO OIL INTRANQUIL	 1/2 fl. oz (14.7ml)	 $0.95 	 1	 $34.20
INDIO OIL ATTRACTION  $0.95 	 1	 $11.40



            </textarea>
                </div>
                <div class="am-form-group">
                    <input class="am-btn am-btn-primary btn-import-wisdom-order" type="button" value="导入">
                </div>

                <hr/>
                <h3>导入Luckymojo.com:</h3>
                <div class="am-form-group">
                     <textarea class="input-luckymojo-order"  rows="10">
3	Attraction Sachet Powders	SPD-HOO-ATTR	$5.00	$15.00
3	Black Cat Sachet Powders	SPD-HOO-BKCA	$5.00	$15.00
3	Block Buster Sachet Powders	SPD-HOO-BLOC	$5.00	$15.00
3	Boss Fix Sachet Powders	SPD-HOO-BOSS	$5.00	$15.00
3	Come To Me Sachet Powders	SPD-HOO-COME	$5.00	$15.00
3	Commanding Sachet Powders	SPD-HOO-COMM	$5.00	$15.00
3	Crown of Success Sachet Powders	SPD-HOO-CROW	$5.00	$15.00
3	Do As I Say Sachet Powders	SPD-HOO-DOAS	$5.00	$15.00
3	Fast Luck Sachet Powders	SPD-HOO-FAST	$5.00	$15.00
3	Dragon's Blood Sachet Powders	SPD-HOO-DRAG	$5.00	$15.00
3	Fire of Love Sachet Powders	SPD-HOO-FIRE	$5.00	$15.00
3	Follow Me Boy Sachet Powders	SPD-HOO-FOLB	$5.00	$15.00
3	Follow Me Girl Sachet Powders	SPD-HOO-FOLG	$5.00	$15.00
3	Good Luck Sachet Powders	SPD-HOO-GOOD	$5.00	$15.00
3	Healing Sachet Powders	SPD-HOO-HEAL	$5.00	$15.00
3	Hot Foot Sachet Powders	SPD-HOO-HOTF	$5.00	$15.00
3	House Blessing Sachet Powders	SPD-HOO-HOUS	$5.00	$15.00
3	I Can, You Can't Sachet Powders	SPD-HOO-ICAN	$5.00	$15.00
3	I Dominate My Man Sachet Powders	SPD-HOO-IDOM	$5.00	$15.00
3	I Dominate My Woman Sachet Powders	SPD-HOO-IDOW	$5.00	$15.00
3	John the Conqueror Sachet Powders	SPD-HOO-JOHN	$5.00	$15.00
3	King Solomon Wisdom Sachet Powders	SPD-JEW-KING	$5.00	$15.00
3	Kiss Me Now! Sachet Powders	SPD-HOO-KISS	$5.00	$15.00
3	Lodestone Sachet Powders	SPD-HOO-LODE	$5.00	$15.00
3	Look Me Over Sachet Powders	SPD-HOO-LOOK	$5.00	$15.00
3	Love Me Sachet Powders	SPD-HOO-LOVE	$5.00	$15.00
3	Lucky Number Sachet Powders	SPD-HOO-LUCN	$5.00	$15.00
3	Magnet Sachet Powders	SPD-HOO-MAGN	$5.00	$15.00
3	Marriage Sachet Powders	SPD-HOO-MARR	$5.00	$15.00
3	Master Key Sachet Powders	SPD-HOO-MKEY	$5.00	$15.00
3	Money Drawing Sachet Powders	SPD-HOO-MOND	$5.00	$15.00
3	Money House Blessing Sachet Powders	SPD-HOO-MONH	$5.00	$15.00
3	Money Stay With Me Sachet Powders	SPD-HOO-MONS	$5.00	$15.00
3	Pay Me Sachet Powders	SPD-HOO-PAYM	$5.00	$15.00
3	Peaceful Home Sachet Powders	SPD-HOO-PEAC	$5.00	$15.00
3	Prosperity Sachet Powders	SPD-HOO-PROS	$5.00	$15.00
3	Psychic Vision Sachet Powders	SPD-HOO-PSYC	$5.00	$15.00
3	Queen Elizabeth Root Sachet Powders	SPD-HOO-QUEE	$5.00	$15.00
3	Reconciliation Sachet Powders	SPD-HOO-RECO	$5.00	$15.00
3	Return To Me Sachet Powders	SPD-HOO-RETU	$5.00	$15.00
3	Reversing Sachet Powders	SPD-HOO-REVR	$5.00	$15.00
3	Road Opener Sachet Powders	SPD-HOO-ROAD	$5.00	$15.00
3	Van Van Sachet Powders	SPD-HOO-VANV	$5.00	$15.00
3	Wealthy Way Sachet Powders	SPD-HOO-WEAL	$5.00	$15.00
3	Jupiter Sachet Powders	SPD-PLA-JUPI	$5.00	$15.00
3	Mars Sachet Powders	SPD-PLA-MARS	$5.00	$15.00
3	Mercury Sachet Powders	SPD-PLA-MERC	$5.00	$15.00
3	Moon Sachet Powders	SPD-PLA-MOON	$5.00	$15.00
3	Neptune Sachet Powders	SPD-PLA-NEPT	$5.00	$15.00
3	Planet Sachet Powders	SPD-PLA-PLAN	$5.00	$15.00
3	Saturn Sachet Powders	SPD-PLA-SATU	$5.00	$15.00
3	Pluto Sachet Powders	SPD-PLA-PLUT	$5.00	$15.00
3	Sun Sachet Powders	SPD-PLA-SUNN	$5.00	$15.00
3	Terra Sachet Powders	SPD-PLA-TERR	$5.00	$15.00
3	Uranus Sachet Powders	SPD-PLA-URAN	$5.00	$15.00
3	Venus Sachet Powders	SPD-PLA-VENU	$5.00	$15.00
3	Aries Sachet Powders	SPD-ZOD-01AR	$5.00	$15.00
3	Taurus Sachet Powders	SPD-ZOD-02TA	$5.00	$15.00
3	Gemini Sachet Powders	SPD-ZOD-03GE	$5.00	$15.00
3	Cancer Sachet Powders	SPD-ZOD-04CA	$5.00	$15.00
3	Leo Sachet Powders	SPD-ZOD-05LE	$5.00	$15.00
3	Virgo Sachet Powders	SPD-ZOD-06VI	$5.00	$15.00
3	Libra Sachet Powders	SPD-ZOD-07LI	$5.00	$15.00
3	Scorpio Sachet Powders	SPD-ZOD-08SC	$5.00	$15.00
3	Sagittarius Sachet Powders	SPD-ZOD-09SA	$5.00	$15.00
3	Capricorn Sachet Powders	SPD-ZOD-10CA	$5.00	$15.00
3	Aquarius Sachet Powders	SPD-ZOD-11AQ	$5.00	$15.00
3	Pisces Sachet Powders	SPD-ZOD-12PI	$5.00	$15.00
3	Zodiac Sachet Powders	SPD-ZOD-13ZO	$5.00	$15.00

            </textarea>
                </div>
                <div class="am-form-group">
                    <input class="am-btn am-btn-primary btn-import-luckymojo-order" type="button" value="导入">
                </div>
            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-order-search">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">正在匹配(<span class="count-len"></span>)
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <table class="am-table">
                <thead>
                    <tr>
                        <th class="t-c">主图</th>
                        <th>产品名称</th>
                        <th class="t-c">当前库存</th>
                        <th class="t-c">当前在途数</th>
                        <th class="t-c">将预定数</th>
                        <th class="t-c">目标数</th>
                        <th class="t-c">状态</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p class="button">
                <button type="button" class="btn-import-order am-btn am-btn-primary">批量设置</button>
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script type="text/javascript">
    $(function () {
        var importOrder = require('import-order');
        importOrder.indexFun();
    });
</script>
</body>
</html>